.row-fluid
  .span6
    - if installation.project
      = render installation.project
    %h3.description
      .label.label-info= installation.state
      = render installation.team
      = installation.description

    .note= installation.note.try(:html_safe)

  .span6
    %pre Il faut que le calendrier soit centré sur la date du travail et peut-être affiché en format semaine ?
    #calendar{data: { path: installations_path}}
