%table.table.table-striped.table-condensed.table-bordered
  %thead
    %tr
      %th= t '.week'
      %th{colspan: 5} 45
      %th{colspan: 5} 46
      %th{colspan: 5} 47
    %tr
      %th= t '.team'
      - (Date.today.beginning_of_week..2.weeks.from_now.to_date.end_of_week).each do |d|
        - unless (d.wday % 7 == 0) or (d.wday % 7 == 6)
          %th= d.strftime('%d.%m') 
  %tbody
    %tr
      %th Agran 1
      - (1..15).each do |n|
        %td= "Barroso #{n}"
    %tr
      %th Agran 1
      - (1..15).each do |n|
        %td= "Barroso #{n}"
    %tr
      %th Agran 1
      - (1..15).each do |n|
        %td= "Barroso #{n}"
