.row-fluid
  .span8
    %h1 
      = t '.title'
      %small= t '.slogan'
  .span4
    = render 'layouts/navigation'

.row-fluid
  .span9
    = render 'table'
  .span3
    %h4= t '.installations_to_plan'
    %ul.nav.nav-tabs.nav-stacked
      - @installations_to_plan.each do |i|
        %li
          = link_to "#" do
            = i.description
            .label.label-warning= i.project.try(:name)
            .label.label-info= i.team.try(:name)
    %h4= t '.open_projects'
    %ul.nav.nav-tabs.nav-stacked
      - @open_projects.each do |p|
        %li
          = link_to "#" do
            .label.label-success= p.delivery
            = p.name
            .badge= "#{p.planned} days"

    %h4= t '.closed_projects'
    %ul.nav.nav-tabs.nav-stacked
      - @closed_projects.each do |p|
        %li= p.name
