.row-fluid
  .span8
    %h1 
      = t '.title'
      %small= t '.slogan'
  .span4
    = render 'layouts/navigation'

.row-fluid
  .span8
    #calendar{data: { path: installations_path}}
  .span4.sidebar
    %h4
      = t '.teams'
      = add_link_to_modal '#add_team', '.add_team'
    = render @teams
    = render 'teams/form', team: Team.new
    #edit_team

    %h4
      = t '.installations_to_plan'
      = add_link_to_modal '#add_installation', '.add_installation'
    = render 'installations/form', installation: Installation.new

    %ul.nav.nav-tabs.nav-stacked#draggable
      - @installations_to_plan.each do |i|
        %li{data: {event_id: i.id, event_title: i.description, event_color: i.team.color}}
          = link_to "#" do
            %i.icon.icon-move
            = i.description
            .label.label-warning= i.project.try(:name)
            = render i.team
    %h4
      = t '.open_projects'
      = add_link_to_modal '#add_project', '.add_project'
    = render 'projects/form', project: Project.new

    %ul.nav.nav-tabs.nav-stacked
      - @open_projects.each do |p|
        %li
          = link_to "#" do
            .label.label-info= p.delivery
            = p.name
            .badge= "#{p.planned} days"

    %h4= t '.closed_projects'
    %ul.nav.nav-tabs.nav-stacked
      - @closed_projects.each do |p|
        %li= p.name
