.row-fluid
  .span8
    %h1 
      = t '.title'
      %small= t '.slogan'
  .span4
    = render 'layouts/navigation'

.row-fluid
  .span8
    #calendar{data: { path: installations_path}}
  .span4.sidebar
    %h4
      = t '.teams'
      = add_link_to_modal '#add_team', '.add_team'
    #teams= render @teams
    .modal.hide.fade#add_team
      = render 'teams/form', team: Team.new

    %h4
      = t '.installations_to_plan'
      = add_link_to_modal '#add_installation', '.add_installation'
    .modal.hide.fade#add_installation{data: {width: 900}}
      = render 'installations/form', installation: Installation.new

    %ul.nav.nav-tabs.nav-stacked#draggable
      - @installations_to_plan.each do |i|
        %li.installation{data: {event_id: i.id, event_title: i.description, event_color: i.team.color}}
          %i.icon.icon-move
          = i.description
          .label.label-warning= i.project.try(:name)
          = render i.team
          .edit.pull-right
            = link_to edit_installation_path(i), class: 'tt', title: t('.edit_installation') do
              %i.icon.icon-edit
            = link_to installation_path(i), class: 'tt', title: t('.delete_installation'), method: :delete do
              %i.icon.icon-remove
    %h4
      = t '.open_projects'
      = add_link_to_modal '#add_project', '.add_project'
    .modal.hide.fade#add_project
      = render 'projects/form', project: Project.new

    %ul.nav.nav-tabs.nav-stacked
      - @open_projects.each do |p|
        %li
          = link_to edit_project_path(p), class: 'tt', title: t('.edit_project') do
            .label.label-info= p.delivery if p.delivery
            = p.name
            .badge= "#{p.planned} days"

    %h4= t '.closed_projects'
    %ul.nav.nav-tabs.nav-stacked
      - @closed_projects.each do |p|
        %li= link_to p.name, edit_project_path(p)
