= semantic_form_for project, validate: true, html: { class: 'validable form-horizontal' } do |i|
  %h3= t project.form_title
  = i.input :name, input_html: { class: 'required' }
  = i.input :planned, prepend: t('.day')
  = i.input :state, collection: Project::STATES
  = i.input :delivery_on, input_html: { class: 'datepicker' }
  = i.action :submit
  = link_to t('back'), :back, class: "btn btn-warning"
