!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Ppl Installation Planning"
      %meta{:content => content_for?(:description) ? yield(:description) : "Ppl Installation Planning", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    #main.page-container{:role => "main"}
      .container-fluid
        = render 'layouts/messages'
        = yield
        %footer

  = phrase_javascript("ad5b745a59550b714cf07aa25a0f25b1") if Rails.env.development? && params['translate']
